@import"../../../../Variables/Variables.scss";
.Hero__section--container{
    width: 100%;
    max-width: 1230px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    height: calc(100vh - 90px);
    
   
    .hero__text--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 45%;
        
        .hero__btn-top{
            width: 177px;
            height: 36px;
            background-color: rgba(33, 123, 244, 0.1);
            border: none;
            border-radius: 8px;
            color: $clr-blue;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 20px;
        }
        .hero__text{
            h1{
                color: $primary-text-color;
                font-weight: 700;
                font-size: 56px;
                line-height: 66px;
                margin-bottom: 18px;
            }
            p{
                color: $secondary-text-color;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 42px;
            }
        }
        .hero__btn--bottom{
            display: flex;
            gap: 18px;

            .hero_btn-filled{
                background: $clr-blue;
              
                padding: 24px 42px;
                box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
                border-radius: 14px;
                border: none;
                color: $white;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                cursor: pointer;
                transition: all 0.2s ease-in;
           
                &:hover{
                 
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
            }

            .hero-btn-outline{
                border: none;
                width: 167px;
                height: 62px;
                border-radius: 14px;
                color: $clr-blue;
                border: 1px solid rgba(33, 123, 244, 0.5);
             
                background: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                cursor: pointer;
                transition: all 0.2s ease-in;
                &:hover{
                 
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
            }
        }
    }
    .hero__img-wrapper{
        width: 55%;
        display: grid;
        place-items: center;

        img{
            width: 100%;
            object-fit: cover;
        }
    }
}

@media only screen and(max-width: 892px) {
    .Hero__section--container{
        flex-direction: column;
        gap: 5rem;
        height: auto;
        padding: 10px ;
        .hero__text--wrapper{
            width: 100%;
            margin: auto;
            // order: 2;
            align-items: center;
            text-align: center;

            .hero__text{
                h1{
                    font-size: 45px;
                    line-height: 50px;
                }
            }
        }
        .hero__img-wrapper{
            width: 100%;
            padding-right:5%;
            
            img{
                width: 100%;
            }
        }
    }
}

@media only screen and(max-width: 668px){
    .Hero__section--container{



        .hero__text--wrapper{

          margin-top: 1.8rem;

            .hero__text{
                h1{
                    font-size: 35px;
                    line-height: 40px;
                }
                p{
                    line-height: 24px;
                }
            }

            .hero__btn--bottom{
                gap: 14px;

                .hero_btn-filled{
                    font-size: 13px;
                    font-weight: 13px;
                }

                .hero-btn-outline{
                    font-size: 13px;
                    font-weight: 13px;
                }
            }
        }
    }
}