$primary-text-color: #0A093D;
$secondary-text-color: #656464;
$white:#FFFFFF;
$second-white: #E7E7E7;
$clr-blue: #217BF4;
$secondary-color: #E5F0FD;
$bg-color: #f5f5f5; 
$linear-bg-primary: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
$linear-bg-secondary: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
$min-height: 36px;
$min-width: 36px;
$mid-height: 66px;
$mid-width: 66px;


